.TryHostingCard {
    background-color: red;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    text-align: left;

    /* background-image: url("https://a0.muscache.com/im/pictures/2595054e-d1d9-4fde-8046-58d51fcb3164.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.TryHostingCard img {
    width: 100%;
    z-index: 1;
    position: absolute;
    border-radius: 25px;
 }

.content {
    /* background-color: green;  */
    float: left;
    z-index: 1;
    position: absolute;
    margin-left: 75px;
    margin-top: 200px;
    color: white;
}

.content h1 {
    font-size: 50px;
    font-weight: 500;
}

.content h3 {
    font-size: 22px;
    font-weight: 250;
    padding-right: 50px;
}

.btn {
    width: 40%;
    margin-top: 30px;
}